* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 228, 206);
}

#maindiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#osnova {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidediv {
    width: 5%;
    height: 100%;
}
#zagolovok {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 70%;
    height: 100%;
    border: solid 2px;
    border-radius:10px;
    border-color: rgb(131, 41, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
form div{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
form div input{
    width: 90%;
    height: 60%;
}
form button{
    width: 90%;
    height: 60px;
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(131, 41, 0);
    background-color: rgb(255, 81, 0);
    color: white;
}
form label{
    font-size: 28px;
}
form a{
    font-size: 18px;
    color: rgb(117, 117, 117);
    text-decoration: none;
    margin-top: 25px;
}